@use 'sass:math';

:host {
  background-color: #eaefff;
}

.header {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  position: relative;
  row-gap: 20px;
  text-align: center;

  h1,
  p {
    margin: 0;
  }

  img {
    display: none;
  }
}
.header::before {
  background: url('/help_center_bg.svg') #1625d9;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.content-wrapper {
  padding: 40px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  .button {
    background-color: #101bcf;
    border: 2px solid #101bcf;
    border-radius: 13px;
    color: #ffffff;
    font-size: 20px;
    line-height: math.div(27, 20);
    padding: 6px;
    text-decoration: none;
  }
  .button:focus-visible {
    outline: none;
  }

  h2,
  h3 {
    font-weight: 700;
    line-height: math.div(27, 23);
  }

  h2 {
    font-size: 24px;
    line-height: math.div(27, 24);
  }

  h3 {
    font-size: 22px;
    line-height: math.div(27, 22);
  }

  p,
  ul {
    color: #212121;
    font-size: 20px;
    line-height: math.div(27, 20);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background-image: url('/bullet.svg');
    background-position: 0.5rem 0.5rem;
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    margin-bottom: 27px;
    margin-left: -0.5rem;
    padding: 0;
    padding-left: 2rem;
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #d7dcec;

    .team-member {
      max-width: 176px;
      width: min-content;
      padding: 20px 10px;

      .profile-image {
        background-color: #ee2534;
        width: 176px;
        height: 162px;
        border-radius: 50%;
        display: flex;

        img {
          display: block;
          margin: auto;
        }
      }

      .name {
        line-height: math.div(27, 22);
        color: #212121;
      }

      .title {
        font-size: 18px;
        line-height: math.div(27, 23);
      }
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    align-items: flex-start;
    height: 232px;
    justify-content: center;
    margin: 0 auto;
    max-width: 728px;
    padding: 0;
    text-align: left;
    width: 100%;

    p {
      max-width: 402px;
    }

    img {
      display: block;
      height: 232px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .header::before {
    left: calc((728px - 100vw) / 2);
    right: calc((728px - 100vw) / 2);
  }

  .content-wrapper {
    margin: 0 auto;
    max-width: 728px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .content {
    .team-members {
      justify-content: center;

      .team-member {
        padding: 20px 40px;
      }
    }
  }
}

@media all and (min-width: 1152px) {
  .header {
    height: 300px;
    max-width: 1024px;

    h1 {
      font-size: 64px;
      line-height: math.div(92, 64);
    }

    p {
      max-width: 612px;
    }

    img {
      height: 300px;
    }
  }
  .header::before {
    left: calc((1024px - 100vw) / 2);
    right: calc((1024px - 100vw) / 2);
  }

  .content-wrapper {
    max-width: 1024px;
  }
}

@media all and (min-width: 1440px) {
  .header {
    height: 327px;
    max-width: 1144px;

    h1 {
      font-size: 73px;
      line-height: math.div(92, 73);
    }

    p {
      max-width: 720px;
    }

    img {
      height: 327px;
    }
  }
  .header::before {
    left: calc((1144px - 100vw) / 2);
    right: calc((1144px - 100vw) / 2);
  }

  .content-wrapper {
    max-width: 1144px;
  }
}
