<div class="header">
  <h1 class="title">Unmask the trolls</h1>
  <p class="subtitle">
    How our investigators can help
  </p>
  <img src="/request_investigation_illustration.svg" />
</div>

<div class="content-wrapper request-investigation-page">
  <div class="content">
    <div class="request-content">
      <p>
        Trolls often hide behind fake accounts (what we call sock-puppets) or rely on misleading claims to smear or
        attack human rights defenders. CfA has Africa’s largest teams working to debunk disinformation and expose the
        hidden networks coordinating the abuse. Here’s how they can help you:
      </p>
    </div>

    <div class="request-content">
      <h3 class="request-subtitle">Fact-checking false claims</h3>
      <p>
        CfA’s PesaCheck is the continent’s largest fact-checking newsroom, with full-time researchers in 14 African
        countries.
        It is an accredited member of the IFCN (International Fact Checking Network), and adheres to a strict <a
          href="https://ifcncodeofprinciples.poynter.org/know-more/the-commitments-of-the-code-of-principles"
          target="_blank" rel="noopener">ethical code</a>.
        PesaCheck’s fact-checks are published by a wide network of partner media across Africa, and are also used by
        social media platforms such as Facebook, Instagram and TikTok to combat toxic content. Facebook alone uses
        PesaCheck debunks to label over two million posts per year as harmful or misleading content. PesaCheck may help
        research and debunk any misleading claims being used to target or harass you, if the claims meet PesaCheck’s <a
          href="https://pesacheck.org/our-methodology-f3d77521a1ee" target="_blank" rel="noopener">eligibility
          criteria</a>.
      </p>
    </div>

    <div class="request-content">
      <h3 class="request-subtitle">Identifying the troll networks</h3>
      <p>
        CfA’s iLAB at the African Network of Centres for Investigative Reporting (ANCIR) work alongside PesaCheck, as
        the continent’s largest network of forensic analysts who ‘connect the dots’. They do this by exposing the
        coordinated networks behind the abuse, mapping the influencers, diagnosing the techniques they use, and tracking
        the narratives. Their analyses help watchdog organisations determine whether the social media platform policies
        have been iolated, or whether other safeguards against amplified hate speech and toxic content have been
        violated. iLAB’ss dossiers serve as evidence for investigative media, and contribute to remedial action by both
        platforms and regulators who take down or de-platform entire networks of inauthentic accounts on social media.
      </p>
    </div>

    <div class="request-content">
      <h3 class="request-subtitle">Meet the team</h3>

      <div class="team-members">
        <div *ngFor="let member of teamMembers" class="team-member">
          <div class="profile-image">
            <img [src]="member.image" />
          </div>
          <h3 class="name">{{ member.name }}</h3>
          <p class="title">{{ member.title }}</p>
        </div>
      </div>
    </div>

    <div class="request-content">
      <h3 class="request-subtitle">Request technical investigative support</h3>
      <p>
        Are you convinced that the harassment targeting you is part of a coordinated campaign, or is being amplified by
        an
        inauthentic network? Complete the simple form below so that we can help verify whether our teams are able to
        help. You
        will need to first use the FeedShield tool to analyse the harassment, and must download both the resulting PDF
        report
        and CSV (spreadsheet) dataset. Share as much extra information as you can on the form, and tell us why you think
        there
        might be a network of trolls or other coordination behind the abuse. Also tell us why you think you are being
        targeted,
        and by who. Be sure to share your contact information, so our team can get back to you.
      </p>
      <p>
        Complete the form <a class="button"
          href="https://docs.google.com/forms/d/e/1FAIpQLScv6BO-r0XX1dmOFgjuJ4k52sULHdCNL6ru5Nxd734LiFdw6Q/viewform"
          target="_blank" rel="noopener">here</a>
      </p>
    </div>
  </div>
</div>
