$panel-padding: 32px 150px;

.info-section {
  .panel:nth-child(even) {
    background-color: #f8f4f6;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
  }
}

.panel {
  padding: $panel-padding;
  .box {
    flex: 1;
  }

  img {
    flex: 1;
    height: 100%;
    min-width: 0;
  }
}
