<div class="header">
    <h1>Privacy Policy</h1>
    <div class="subtitle">
        Code for Africa is committed to protecting your personal data. This Privacy Policy will inform you as to how
        we look after your personal data when you visit <a href="/">SafeNet</a> or use the SafetyNet tool and tell you
        about your privacy rights and how the law protects you.
    </div>
</div>

<!-- Note: Wrapper div is required to prevent the side menu "sticky" layout
     option from continuing beyond the bounds of the wrapper. -->
<div class="content-wrapper">
    <app-scrollable-side-menu class="side-menu" [sideMenuSections]="sideMenuSections">
    </app-scrollable-side-menu>

    <div class="content">
        <div class="collected-data">

            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight"
                    [expandedHeight]="expansionPanelHeaderHeight">
                    <mat-panel-title>
                        Data we collect about you
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="panel-content">
                    <div class="text">
                        <p>
                            In order to facilitate access to and communications about the effectiveness of the tool, we
                            may collect the following information:
                        </p>
                        <ul>
                            <li>Your name (mandatory)</li>
                            <li>Your country (optional)</li>
                            <li>Your organisation (optional)</li>
                            <li>Your email address (mandatory)</li>
                            <li>Whether you work in journalism or related fields (optional)</li>
                        </ul>
                    </div>
                </div>
            </mat-expansion-panel>

        </div>
        <div class="data-usage">
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight"
                    [expandedHeight]="expansionPanelHeaderHeight">
                    <mat-panel-title>
                        How we use Your Personal Data
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    <p>We will only use your personal data for the purpose for which we collected it which include the
                        following:
                    </p>
                    <ul>
                        <li>
                            To register you as a new contact and manage your relationship with us;
                        </li>
                        <li>
                            If you register to receive updates and information on our initiatives and mentoring
                            opportunities from Us, Your personal data will be used to send you these communications
                            which you can opt out from at any time;
                        </li>
                        <li>To improve our website, products and services, or customer relationships;</li>
                        <li>
                            We may also collect information on how you use our website and services where you accept
                            certain cookies. This may include Aggregated Data such as statistical or demographic data
                            for any purpose. Aggregated Data will be derived from your personal data but is not
                            considered personal data in law as this data will not directly or indirectly reveal your
                            identity.
                        </li>
                    </ul>
                    <p>
                        We only share your personal data with third parties with your consent or other lawful basis for
                        doing so, in accordance with our Privacy Policy. Specifically, in relation to the registration:
                    </p>
                    <ul>
                        <li>
                            When you log into the Tool with your Twitter account, your personal information may be
                            processed in accordance with Twitter’s Privacy Policy.
                        </li>
                        <li>
                            We manage our contact information and email outreach using Salesforce and Campaign Monitor,
                            and your may be processed subject to their terms of service.
                        </li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>

        <div class="data-storage">
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="expansionPanelHeaderHeight"
                    [expandedHeight]="expansionPanelHeaderHeight">
                    <mat-panel-title>
                        Data Storage
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    <p>
                        The Tool may detect personal data, including some special category data, when looking for
                        incidences of harassment.cHowever, this information is only visible to the user and is not
                        stored in the Tool - with the exception of draft reports, which are an aggregation of public
                        comments from Twitter, stored on Google Sheets and may be accessible to a limited number of
                        developers with specific permissions. The in-progress report is deleted from the database once
                        you have completed the report or abandoned it.
                    </p>
                    <p>
                        In case of any questions regarding our privacy practices, if you would like to execute your
                        rights or would like to submit a complaint, please contact info@codeforafrica.org.
                    </p>
                </div>

            </mat-expansion-panel>
        </div>
    </div>
</div>
