.content {
  margin-left: 510px;
  margin-right: 150px;
  // max-width: 900px;

  .header-description {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
    padding-bottom: 33px;
  }

  .header-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
  }

  .content-data {
    background-color: #d7dcec;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
    margin-bottom: 24px;
    padding: 23px 29px 20px 34px;

    ul {
      list-style: none;
    }

    li {
      margin: 20px 0;
    }

    ul li::before {
      content: '\2022';
      color: #101bcf;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  mat-expansion-panel {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
    margin-bottom: 24px;

    .panel-content {
      display: flex;
      background-color: #d7dcec;

      .text {
        margin-right: 22px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #212121;
        padding: 23px 29px 0 34px;
      }

      .image img {
        width: 350px;
      }
    }
  }

  mat-panel-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
  }
  ul {
    list-style: none;
  }

  li {
    margin: 20px 0;
  }

  ul li::before {
    content: '\2022';
    color: #101bcf;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.out-link {
  text-decoration: none;
  color: #101bcf;
}

/* Responsive Screens: mobile*/
@media all and (min-width: 0px) and (max-width: 640px) {
  app-scrollable-side-menu {
    display: none;
  }
  .content {
    margin: 0 10px;
  }
}

/* Responsive Screens: desktop*/
@media all and (min-width: 641px) and (max-width: 1366px) {
  app-scrollable-side-menu {
    display: none;
  }
  .content {
    margin: 0 30px;
  }
}
